body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  font-size: 16px;
  font-family: Calibri;
}
nav {
  float: left;
  padding-left: 2px;
  width: 10%;
  height: 100%;
  display: inline-block;
  background-color: #F1F1F1;
  margin-top: 10px;
}
nav > a {
  margin: 20px 20px 20px;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
nav > a:before {
  content: url("../imgs/home.png");
  padding-right: 5px;
  vertical-align: central;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  color: #8D0503;
  list-style-type: none;
  list-style-position: inside;
  padding-bottom: 10px;
  font-weight: bold;
}
nav ul li li {
  padding-bottom: 0;
  position: relative;
  color: black;
  font-weight: normal;
}
h1 {
  font-size: 1.8em;
}
.previus {
  background: url("../imgs/btnPrevious.png") no-repeat;
  border: none;
  height: 25px;
  width: 100px;
}
.next {
  background: url("../imgs/btnNext.png") no-repeat;
  border: none;
  height: 25px;
  width: 100px;
  vertical-align: bottom;
}
button {
  display: inline-block;
}
div.wrapper {
  background-color: white;
  border: 1px solid #A2A2A2;
  width: 60%;
  height: 90%;
  padding-left: 10px;
  float: left;
  margin-top: 5px;
}
div.wrapper article img {
  float: left;
}
div.wrapper hr {
  height: 2px;
  background-color: #9E9E9E;
}
h2 {
  background-color: #808080;
  padding-right: 20px;
  color: white;
  font-size: 1.2em;
}
a {
  color: #8D0503;
}
.mainArticle h3 {
  font-size: 1em;
}
.mainArticle p {
  font-weight: bold;
}
aside {
  float: left;
  display: inline-block;
  width: 15%;
  margin-top: 0;
  border: 1px solid #808080;
  margin-top: 5px;
}
aside div {
  border: 1px solid #808080;
  margin: 2px;
  text-align: center;
}
aside div h2 {
  padding: 0;
  margin: 0;
}
aside div .StyleBtn {
  margin-top: 2px;
  width: 100px;
  height: 30px;
  color: #42CDFE;
  border: 1px solid #3F81B2;
  background: #97d5f7;
  /* Old browsers */
  background: -moz-linear-gradient(left, #97d5f7 0%, #c1e7fa 9%, #c1e7fa 91%, #97d5f7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97d5f7), color-stop(9%, #c1e7fa), color-stop(91%, #c1e7fa), color-stop(100%, #97d5f7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #97d5f7 0%, #c1e7fa 9%, #c1e7fa 91%, #97d5f7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #97d5f7 0%, #c1e7fa 9%, #c1e7fa 91%, #97d5f7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #97d5f7 0%, #c1e7fa 9%, #c1e7fa 91%, #97d5f7 100%);
  /* IE10+ */
  background: linear-gradient(to right, #97d5f7 0%, #c1e7fa 9%, #c1e7fa 91%, #97d5f7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97d5f7', endColorstr='#97d5f7', GradientType=1);
  /* IE6-9 */
}
aside div form {
  margin: 5px;
}
aside div form input[type=text] {
  width: 120px;
}
aside div form input[type=submit] {
  width: 25px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}
aside div a {
  text-align: center;
  margin: 2px;
  display: block;
}
/*# sourceMappingURL=04.CSS DocumentationSite.css.map */